html, body {
    margin: 0;
    background-color: rgb(48, 67, 121);
}
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
}
.page-wraper {
    max-width: 1280px;
    margin-left: auto; 
    margin-right: auto;
}
header {
    -webkit-text-stroke-width: 0.2mm;
    -webkit-text-stroke-color: rgb(238, 240, 240);
    color: rgba(222, 205, 241, 0.521);
    font-size: 10mm;
    font-style: oblique;
    font-family: 'Gochi Hand';
    text-align: center;
    font-variant: small-caps;
}
nav {
    max-width: 1280px;
    margin-left: auto; 
    margin-right: auto;
}

ul {
    border: 2px solid rgba(149, 150, 151, 0);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(48, 67, 121);
}

li {
    float: left;
}

li a {
    display:inline-block;
    color: rgba(255, 255, 255, 0.808);
    text-align: center;
    padding: 16px;
    font-size: 4.5mm;
    font-weight: 600;
}

li a:hover {
    background-color:rgba(40, 58, 107, 0.76);
    border: 2px solid rgba(251, 253, 255, 0.808)
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}
article {
    width: 60%;
    float: left;
    color:rgb(255, 255, 255);
    font-size:4mm;
    margin-top: -2ch;
    }
 article > h2{
    -webkit-text-stroke-width: 0.1mm;
    -webkit-text-stroke-color: rgb(253, 255, 255);
    font-style: italic;
    font-size:10mm; 
    color:rgba(255, 255, 255, 0.521);
    font-variant: small-caps;
    font-family:'Comic Sans MS', cursive, sans-serif;
    }
 article > p{border: 2px solid rgba(149, 150, 151, 0.808);
     padding: 30px;
     margin-right: 50px;
     border-radius: 5px;
     margin-top: -2ch;
    }
aside {
    margin-top: 13ch;
    width: 40%;
    float: right;
}
section:after {
    content: "";
    display: table;
    clear: both;
  }

  .header {
      display: block;
      position: relative;
    }
@media (max-width: 600px) {
    nav, article, aside {
      width: 100%;
      height: auto;
    }
  }
.unicorn-heart {
    display: block;
    color:rgb(149, 150, 151, 0.808);
    font-size: 30mm;
    position: absolute;
    
    top: 0;
    right: 0;
}
